<%- include("partials/header.ejs") %>
<body>
  <div class="main-content">
    <a href="/create-post">
      <button>Create New Post</button>
    </a>

    <% if (locals.titles && locals.articles && titles.length > 0) { %> <%
    titles.forEach( (title, index) => { %>
    <a href="/view-blog/<%=title%>">
      <h2><%= title %></h2>
    </a>
    <p><%= articles[index] %></p>
    <a href="/update-post/<%=title%>">
      <button>Update</button>
    </a>
    <form action="/<%=index%>" method="POST">
      <button>Delete</button>
    </form>
    <% }) %> <% } else { %>
    <h2>No blog is created, let's create your first blog!!!</h2>
    <% } %> <%- include("partials/footer.ejs") %>
  </div>
</body>
