<%- include("partials/header.ejs") %>
<body>
  <a href="/create-post">
    <button>Create New Post</button>
  </a>

  <% if (locals.titles && locals.articles && titles.length > 0) { %> <%
  titles.forEach( (title, index) => { %>
  <a href="/view-blog/<%= index%>">
    <h2><%= title %></h2>
  </a>
  <p><%= articles[index] %></p>
  <a href="/update-post/<%= index %>">
    <button>Update</button>
  </a>
  <form action="/<%= index %>" method="POST">
    <button>Delete</button>
  </form>
  <% }) %> <% } else { %>
  <h2>No blog is created, let's create your first blog!!!</h2>
  <% } %> <%- include("partials/footer.ejs") %>
</body>
